.servicesAccordion {
  padding: 15px;
  .accordion {
    max-width: 900px;
    border: 1px solid rgba(var(--card-border-rgb), 0.1);
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0.1);
    margin-bottom: 5px;
    box-shadow: none;

    .details {
      padding-bottom: 5px;
    }
  }

  .disclaimerText {
    padding-left: 10px;
    padding-top: 10px;
    opacity: 0.6;
  }
}
